* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}

/* Regular */
@font-face {
    font-family: 'League Gothic';
    src: url('fonts/leaguegothic-regular-webfont.eot');
    src: url('fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('fonts/leaguegothic-regular-webfont.svg#league_gothic_regularregular') format('svg');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: "League Gothic";
}
a, a:hover, a:focus, a:visited, a:active {
    color: black;
}
p {
    font-size: 40px;
    margin-left: 10px;
    margin-top: 5px;
}
.zone-affiches {
    position: absolute;
    width: 1240px;
    top: 50vh;
    margin-top: -275px;
    left: 50%;
    margin-left: -620px;
}
.affiche-1 {
    float: left;
    position: relative;
    width: 429px;
    height: 550px;
    background-color: #e9dab1;
}
.affiche-vide {
    float: left;
    width: 429px;
    height: 550px;
    border: solid 3px black;
}
.affiche-2 {
    float: left;
    position: relative;
    width: 380px;
    height: 551px;
    background-color: #d7a802;
}
.affiche-1 img, .affiche-2 img {
  position: absolute;
}
