
body {background-color: #F5F5F5;}

img { max-width: 100%;}

nav
{margin-top:2%;}

nav ul{
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0;}

nav ul a{
  display:block;
  color:#333;
  text-decoration:none;
  font-weight:700;
  font-size:12px;
  line-height:32px;
  padding:0 15px;
  font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;}

nav ul li{
  position:relative;
  float:left;
  margin:0;
  padding:0;}

nav ul li:hover
{background:#ddd;}
nav ul li#active
{background:#ddd;}

.container {
  max-width: 25%;
  margin: 0 auto;
  padding: 1%;}

.gallery__hero {
  position: relative;
  background: url(../img/fond.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.gallery__hero2 {
  position: relative;
  background: url(../img/fond2.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.gallery__hero3 {
  position: relative;
  background: url(../img/fond3.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.gallery__hero4 {
  position: relative;
  background: url(../img/fond4.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.gallery__thumbs {text-align: center;background:#ddd;}
.gallery__thumbs a {
  display: inline-block;
  width:  %;
  padding: 0.5em;
  opacity: 0.2;
  -webkit-transition: opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.gallery__thumbs a:hover {opacity: 0.75;}
.gallery__thumbs a.is-active {opacity: 1;}


#footer {
  margin-left:33%;
  font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 11px; 
  color: black;}
